In [4]:
import pandas as pd
from tqdm import tqdm

In [5]:
%%time
loc = "C:\\Users\\Deepak\\Downloads\\AAA.csv"
data = pd.read_csv(loc)

Wall time: 6.46 s

In [3]:
data.shape

(166693, 13)

In [4]:
data.head(1)

,id,product_uid,product_title,search_term,product_description,product_description_lengths,search_term_len,title_match_count,desc_match_count,title_search_levenshtein,desc_search_levenshtein,title_search_jaccard,desc_search_jaccard
0,1,100001,simpson strong - tie 12 - gaug angl,90 degre bracket,"angl make joint stronger , also provid consist...",1274.0,3,0,1,0.196078,0.027833,0.26087,0.285714

In [5]:
data.to_feather('data.feather')

In [6]:
%%time
import feather
new_data = feather.read_dataframe('data.feather')

Wall time: 969 ms

In [7]:
new_data.shape

(166693, 13)

In [8]:
new_data.head(1)

,id,product_uid,product_title,search_term,product_description,product_description_lengths,search_term_len,title_match_count,desc_match_count,title_search_levenshtein,desc_search_levenshtein,title_search_jaccard,desc_search_jaccard
0,1,100001,simpson strong - tie 12 - gaug angl,90 degre bracket,"angl make joint stronger , also provid consist...",1274.0,3,0,1,0.196078,0.027833,0.26087,0.285714

In [9]:
%%time
loc = "C:\\Users\\Deepak\\Downloads\\AAA_copy.csv"
chunksize = 60000
Combined = pd.DataFrame()
for chunk in tqdm(pd.read_csv(loc, chunksize=chunksize)):
    Combined = pd.concat([Combined, chunk])

3it [00:05,  1.83s/it]

Wall time: 5.55 s

In [10]:
Combined.shape

(166693, 13)

In [1]:
import dask.dataframe as dd

In [6]:
%%time
ddf = dd.read_csv(loc)

Wall time: 387 ms

In [7]:
ddf.head()

,id,product_uid,product_title,search_term,product_description,product_description_lengths,search_term_len,title_match_count,desc_match_count,title_search_levenshtein,desc_search_levenshtein,title_search_jaccard,desc_search_jaccard
0,1,100001,simpson strong - tie 12 - gaug angl,90 degre bracket,"angl make joint stronger , also provid consist...",1274.0,3,0,1,0.196078,0.027833,0.260870,0.285714
1,4,100001,simpson strong - tie 12 - gaug angl,metal l bracket,"angl make joint stronger , also provid consist...",1274.0,3,1,1,0.200000,0.029851,0.350000,0.238095
2,5,100001,simpson strong - tie 12 - gaug angl,simpson sku abl,"angl make joint stronger , also provid consist...",1274.0,3,1,1,0.520000,0.029851,0.526316,0.285714
3,6,100001,simpson strong - tie 12 - gaug angl,simpson strong tie,"angl make joint stronger , also provid consist...",1274.0,3,3,3,0.679245,0.035714,0.647059,0.261905
4,7,100001,simpson strong - tie 12 - gaug angl,simpson strong tie hcc 668,"angl make joint stronger , also provid consist...",1274.0,5,3,3,0.655738,0.047244,0.523810,0.325581

In [8]:
ddf.shape

(Delayed('int-714ee6c1-cb4e-45b8-ad38-91f9bdd5fa9a'), 13)

In [9]:
ddf.describe()

Dask DataFrame Structure:
                  id product_uid product_description_lengths search_term_len title_match_count desc_match_count title_search_levenshtein desc_search_levenshtein title_search_jaccard desc_search_jaccard
npartitions=1
               int64       int64                     float64           int64             int64            int64                  float64                 float64              float64             float64
                 ...         ...                         ...             ...               ...              ...                      ...                     ...                  ...                 ...
Dask Name: describe, 182 tasks

In [10]:
ddf.describe().compute()

,id,product_uid,product_description_lengths,search_term_len,title_match_count,desc_match_count,title_search_levenshtein,desc_search_levenshtein,title_search_jaccard,desc_search_jaccard
count,166693.000000,166693.000000,138388.000000,166693.000000,166693.000000,166693.000000,166693.000000,166693.000000,166693.000000,166693.000000
mean,123932.839741,149713.170445,1518.953168,3.197147,2.201328,1.982225,0.318042,0.053529,0.445372,0.255524
std,71518.389174,37270.476881,912.196223,1.648729,1.472220,1.601051,0.119808,0.063443,0.135054,0.104344
min,1.000000,100001.000000,130.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,53589.750000,113925.000000,980.000000,2.000000,2.000000,1.000000,0.247788,0.022164,0.379310,0.232558
50%,140397.000000,150792.000000,1389.000000,3.000000,2.000000,2.000000,0.321429,0.035346,0.461538,0.294118
75%,239292.000000,222968.000000,2040.000000,4.000000,3.000000,3.000000,0.404255,0.081037,0.555556,0.351351
max,240760.000000,224428.000000,10880.000000,23.000000,23.000000,20.000000,1.000000,0.666667,1.000000,0.750000